.post .title{
    margin-bottom: 0.25rem;
    font-size: 3.4rem;
    text-align: center;
}

.post h2{
    font-size: 2.4rem;
}

.post .subtitle{
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1rem;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.post .subtitle span{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .subtitle span svg{
    margin-right: 5px;
}

.post p{
    font-size: 1.2rem;
    line-height: 2rem;
}

.post ul{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.post .tag{
    margin: 0 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.post .tags-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}