
#header {
    background: #0a0a0a url("../images/header.svg") center no-repeat;
    background-size: contain;
    color: #fafafa;
    padding: 2rem 3rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: column;
    flex-flow: column;
    justify-content: flex-end;
    height: 40vh;
    min-height: 600px;

    font-family: 'Lato', sans-serif;
}

#header h2 {
    color: #fafafa !important;
}

#header img {
    height: 3rem;
    margin: 0 0 1rem;
}

#header span {
    color: #fafafa;
    font-size: 1.5rem;
    margin-left: 2rem;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: .25rem;
}


#header {
    margin-bottom: 3rem;
}

#header ul {
    margin: 0;
    color: #fafafa;
    padding: 0;
}

#header ul a {
    color: #fafafa;

    -webkit-transition: ease .4s;
    -moz-transition: ease .4s;
    -ms-transition: ease .4s;
    -o-transition: ease .4s;
    transition: ease .4s;
}

#header ul a:hover {
    opacity: .7;
}

#header ul a:visited {
    color: #fafafa !important;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1rem;
}